
    <div class="main-holder">
		<!-- Header Section Starts -->
        <header class="header">

<!-- <script src="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}js/wx.js"></script> <!-- Resource jQuery -->
           <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="tail-top">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="contacts">


                                      <span class="tel">{$GLOBALS['S']['comphone']}</span>
										<address>{$GLOBALS['S']['comaddress']}</address>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <span class="slogan">
<!-- 									<a class="cn" href="#cn">新浪微博</a> / <a class="en" href="#en">腾讯微博</a>
 -->									</span>
								</div>
                            </div>
                        </div>
                        <div class="clearfix">
							<!-- Logo -->
                            <div class="pull-left">
                                <div class="logo pull-left">
                                    <a href="{$GLOBALS['WWW']}"><img src="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}images/logo.png" alt="{$GLOBALS['S']['title']}" title="{$GLOBALS['S']['comtitle']}"></a>
                                </div>
                            </div>
                            <div class="pull-right">
								<!-- Navbar Starts -->
                                <nav class="nav nav__primary clearfix">
                                    <ul class="sf-menu">
                                    <!-- 首页 -->
                                       <li class="color-1 icon-home {if($type['tid']==0)}current-menu-item{/if}">
                                        {loop table="classtype" tid="1"} 

                                        <a href="{$GLOBALS['WWW']}">
                                            首页
                                        </a>
                                    </li>
                                       {/loop}

                                       <!-- 户型展示 -->
                                        <li class="color-3 icon-edit {if($type['tid']==2)}current-menu-item{/if}">
                                            {loop table="classtype" tid="2"}
                                            <a href="{$v['url']}">
                                                {$v['title']}
                                            </a>
                                            {/loop}
                                            
                                        </li>

                                    <!-- 户型视频 -->
                                        <li class="color-2 icon-file-alt {if($type['tid']==3)}current-menu-item{/if}">
                                            {loop table="classtype" tid="3"}
                                            <a href="{$v['url']}">
                                                {$v['title']}
                                            </a>
                                            {/loop}
                                            
                                        </li>
                                   
                                    <!-- 人才招聘 -->

                                        <li class="color-4 icon-th-large {if($type['tid']==6)}current-menu-item{/if}">
                                            {loop table="classtype" tid="6"}
                                            <a href="{$v['url']}">
                                                {$v['title']}
                                            </a>
                                            {/loop}
                                            
                                        </li>
                                    <!-- 联系我们 -->
                                        <li class="color-5 icon-envelope {if($type['tid']==8)}current-menu-item{/if}">
                                            {loop table="classtype" tid="8"}
                                            <a href="{$v['url']}">
                                                {$v['title']}
                                            </a>
                                            {/loop}
                                        </li>
                                    </ul>
                                </nav>
								<!-- Navbar Ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
		<!-- Header Section Ends -->
        


