<!DOCTYPE html>
<html lang="cn">

<head>
<meta charset="UTF-8" />
<title>{$article['title']}</title>
<meta name="keywords" content="{$article['keywords']}" />
<meta name="description" content="{$article['description']}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fav icon -->
    <link rel="shortcut icon" href="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}images/favicon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="all" href="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}css/bootstrap.css" />

    <!-- Template CSS Files  -->
    <link rel="stylesheet" type="text/css" media="all" href="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}css/responsive.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}css/style.css" />

    <!-- Template JS Files -->
    <script type="text/javascript" src="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}js/jquery-1.11.3.min.js"></script> 
    <script type="text/javascript" src="{$GLOBALS['S']['jwcdnapi']}{$GLOBALS['skin']}js/modernizr.js"></script>
</head>

<body>
{include="head.html"}
        <div class="content-holder clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12">
						<!-- Main Content Starts -->
                        <div class="row">
                            <div class="span8 right" id="content">
                                <article class="post post__holder">
                                    <header class="post-header">
                                        <h1 class="post-title">{$article['title']}</h1>
                                    </header>

                                    <div class="post_content">
                                        <p>
                                        		<div class="jwcdn">
		<jwbody>
		{$article['body']}
		</jwbody>
		</div>
                                        </p>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="post_meta">
                                        <span class="post_category">
											<i class="icon-bookmark"></i>点击：<script src="{$GLOBALS['WWW']}index.php?c=article&a=hits&id={$article['id']}" type="text/javascript"></script> 次
										</span>
                                        <span class="post_date">
											<i class="icon-calendar"></i>
											<time datetime="2013-03-14T20:28:57">发布时间：{fun date('Y-m-d',$article['addtime'])}</time>
										</span>
                                        <span class="post_permalink">
											<i class="icon-link"></i>
											<a href="{$article['url']}">链接地址</a>
										</span>
                                    </div>
                                    <!-- Social Share Starts -->
                                    <span class='st_facebook_hcount' data-displaytext='Facebook'></span>
                                    <span class='st_twitter_hcount' data-displaytext='Tweet'></span>
                                    <span class='st_googleplus_hcount' data-displaytext='Google +'></span>
                                    <!-- Social Share Ends -->
                                </article>


                            </div>
							
                        </div>
						<!-- Main Content Ends -->
                    </div>
                </div>
            </div>
        </div>

{include="bottom.html"}
<script type="text/javascript">
$(function(){
$(".jwcdn jwbody").each(function(index, element) {
	var $old=$(this).html();
	var $new=$old.replace(/\/uploads/g,'{$GLOBALS['S']['jwcdnapi']}/uploads');
	$(this).html($new);
});
})
</script>
</body>
</html>
